body{
    font-family: 'Raleway', sans-serif;
}

.login-design{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.waves{
    background-color:rgb(240, 255, 242) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color:rgb(240, 255, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-data{
    border: solid ;
    text-align: center;
}

.login-data h1{
    font-weight: 200;
}